In [ ]:
#EJ1(200)
SELECT first_name, last_name
FROM actor;

In [ ]:
#EJ2(5462)
SELECT A.first_name, A.last_name, F.title
FROM actor A, film_actor FA, film F
WHERE A.actor_id = FA.actor_id
AND FA.film_id = F.film_id;

In [ ]:
#EJ3(199)

SELECT A.first_name, A.last_name, COUNT (F.title)
FROM actor A, film_actor FA, film F
WHERE A.actor_id = FA.actor_id
AND F.film_id = FA.film_id
GROUP BY A.first_name, A.last_name
ORDER BY COUNT (F.title) DESC;

In [ ]:
#EJ4(958)

SELECT F.title, COUNT (R.rental_id)
FROM film F, inventory I, rental R
WHERE F.film_id = I.film_id
AND I.inventory_id = R.inventory_id
GROUP BY F.Title
ORDER BY COUNT (R.rental_id) DESC;

In [ ]:
#EJ5 (958)

SELECT F.title, SUM (P.amount)
FROM film F, inventory I, rental R, payment P
WHERE F.film_id = I.film_id
AND I.inventory_id = R.inventory_id
AND R.rental_id = P.rental_id
GROUP BY F.Title
ORDER BY SUM (P.amount) DESC;

In [ ]:
#EJ6 (1)

SELECT C.first_name, C.last_name, SUM (P.amount)
FROM payment P, customer C
WHERE P.customer_id = C.customer_id
GROUP BY C.first_name, C.last_name
ORDER BY SUM (P.amount) DESC
LIMIT 1;

In [ ]:
#EJ7 (1)

SELECT C.first_name, C.last_name, COUNT (R.rental_id)
FROM customer C, rental R
WHERE R.customer_id = C.customer_id
GROUP BY C.first_name, C.last_name
ORDER BY COUNT (R.rental_id) DESC
LIMIT 1;