In [ ]:
#EJ1
SELECT first_name, last_name
FROM actor

In [ ]:
#EJ2
SELECT COUNT(*) FROM (
SELECT first_name, last_name, title
FROM actor, film_actor, film
WHERE actor.actor_id = film_actor.actor_id
AND film_actor.film_id = film.film_id)
AS EJ2;